html,
body {
	height: 100%
}
.mdl-layout__content {
	display: inline-flex;
	flex-direction: column
}
.mdl-layout__drawer-button {
	color: white
}
.mdl-card__supporting-text {
	text-align: left
}
.page-content {
	flex: 1
}
.side-nav .padded {
	padding-left: 16px;
	padding-right: 16px
}
/*
.side-menu > div {
	display: flex !important;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 24px !important
}
*/
.side-menu > div > label {
	width: auto
}
.spacer {
	text-align: justify
}
.spacer > span {
	display: inline-block;
	width: 100%
}
#frame-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1720px
}
#frame-content .side {
	box-sizing: border-box;
	padding-left: 32px;
	padding-right: 32px;
}
.chart-card {
	transition: transform 0.2s ease-out;
	margin-top: 32px;
	display: inline-flex !important;
	width: 24%;
	cursor: pointer;
	transform-origin: 50% 50%;
	transform: scale(1)
}
.chart-card:hover {
	transform: scale(1.05)
}
.chart-card .mdl-card__title {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 192px;
	padding: 0px
}
.chart-card .mdl-card__title-text {
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	padding: 16px;
	width: 100%;
	color: white
}
.chart-container {
	position: relative;
	margin: 32px 0;
	padding-top: 32px
}
.chart-container + .chart-container:after {
	background-color: #c0c0c0;
	position: absolute;
	left: 32px;
	top: 0;
	width: calc(100% - 64px);
	height: 1px;
	content: ""
}
.chart-close {
	position: absolute;
	right: 32px;
	top: 8px;
	font-size: 16px;
	text-decoration: none
}
.dialog-wide {
	width: auto !important;
	max-width: 640px
}
.dialog-ultrawide {
	width: auto !important;
	max-width: calc(100% - 160px)
}
.dialog-wide .mdl-dialog__content {
	padding-top: 0px !important
}
.table-container {
	margin-top: 16px;
	width: 100%;
	max-height: 320px;
	overflow: auto;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25)
}
.table-container table {
	min-width: 100%
}
.table-container td,
.table-container tr {
	text-align: center
}

@media screen and (max-width: 1023px) {
	.chart-card {
		width: 100%
	}	
}