html,
body {
	height: 100%
}
.mdl-dialog {
    top: 50%;
    transform: translateY(-50%);
}
.mdl-layout__content {
	display: inline-flex;
	flex-direction: column
}
.mdl-layout__drawer-button {
	color: white
}
.mdl-card__supporting-text {
	text-align: left
}
.mdl-layout-title {
	padding-left: 0px !important;
	text-align: center
}
.mdl-navigation__link > input[type=text].trained {
	color: #f44336
}
.mdl-navigation__link > input[type=text].trained::placeholder {
	color: #ff7961
}
.mdl-navigation__link > input[type=text].trained:-ms-input-placeholder {
	color: #ff7961
}
.mdl-navigation__link > input[type=text].trained::-ms-input-placeholder {
	color: #ff7961
}
.page-content {
	flex: 1
}
.padded {
	padding-left: 16px;
	padding-right: 16px
}
.side-nav {
	padding-top: 0px !important
}
.side-menu > .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
	padding: 8px 16px !important
}
.side-menu > .mdl-navigation__link > label {
    width: auto !important
}
.side-menu > .mdl-navigation__link > input {
    background-color: inherit;
	flex: 1;
	width: auto;
    border: none
}
.spacer {
	text-align: justify
}
.spacer > span {
	display: inline-block;
	width: 100%
}
#frame-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1720px
}
#frame-content .side {
	box-sizing: border-box;
	padding-left: 32px;
	padding-right: 32px;
}
.chart-card {
	transition: transform 0.2s ease-out;
	margin-top: 32px;
	display: inline-flex !important;
	width: 24%;
	cursor: pointer;
	transform-origin: 50% 50%;
	transform: scale(1)
}
.chart-card:hover {
	transform: scale(1.05)
}
.chart-card .mdl-card__title {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 192px;
	padding: 0px
}
.chart-card .mdl-card__title-text {
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	padding: 16px;
	width: 100%;
	color: white
}
.chart-container {
	position: relative;
	margin: 32px 0;
	padding-top: 32px
}
.chart-container + .chart-container:after {
	background-color: #c0c0c0;
	position: absolute;
	left: 32px;
	top: 0;
	width: calc(100% - 64px);
	height: 1px;
	content: ""
}
.chart-close {
	position: absolute;
	right: 32px;
	top: 8px;
	font-size: 16px;
	text-decoration: none
}
.dialog-wide {
	width: auto !important;
	max-width: 640px
}
.dialog-ultrawide {
	width: auto !important;
	max-width: calc(100% - 160px)
}
.dialog-wide .mdl-dialog__content {
	padding-top: 0px !important
}
.table-container {
	margin-top: 16px;
	width: 100%;
	max-height: 320px;
	overflow: auto;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25)
}
.table-container table {
	min-width: 100%
}
.table-container td,
.table-container tr {
	text-align: center
}
.tabs > div:first-child {
	display: flex;
	flex-direction: row
}
.tabs > div:first-child > button {
	border-radius: 4px 4px 0 0
}
.tabs > div:first-child > button.selected {
	background-color: rgb(71, 163, 237);
	color: white
}
.tabs > div:last-child {
	border-color: rgb(71, 163, 237);
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box
}
.tabs > div:last-child > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}
.tabs > div:last-child > div > div {
	width: 50%;
	padding: 16px 0;
	box-sizing: border-box;
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 0;
    text-align: center
}
.tabs > div:last-child > div > div:nth-child(1),
.tabs > div:last-child > div > div:nth-child(3) {
    border-width: 0 1px 1px 0
}
.tabs > div:last-child > div > div:nth-child(2),
.tabs > div:last-child > div > div:nth-child(4) {
    border-width: 0 0 1px 0
}
.tabs > div:last-child > div > div:nth-child(5) {
    border-width: 0 1px 0 0
}
.vars-list > .spacer > label {
	display: inline-block;
	width: 45%
}

@media screen and (max-width: 1023px) {
	.chart-card {
		width: 100%
	}	
}