<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>DeviceLytics Dashboard</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
	</head>
	<body onload="page.load(-1)">
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Variables / Features</span>
				<nav class="mdl-navigation side-nav">
					<div class="smaller">
					</div>
					<div class="side-menu">
						<div class="padded">
							You must upload a dataset first.
						</div>
						<div id="menu-loader" style="display: none; text-align: center">
							<div class="mdl-spinner mdl-js-spinner is-active" style="width: 64px; height: 64px"></div>
						</div>
						<div class="session-div" style="text-align: center">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin: 16px 0; color: white" onclick="session.load()">Load Dataset</button>
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="display: none; margin: 16px 0" onclick="session.start()">Start New Session</button>
						</div>
					</div>
				</nav>
			</div>
			<main class="mdl-layout__content" onscroll="page.scroll(this)">
				<div class="page-content">
					<header class="mdl-layout__header" style="display: flex !important">
						<div class="mdl-layout__header-row">
							<span class="mdl-layout-title">
								View Trend
							</span>
							<div class="mdl-layout-spacer"></div>
						</div>
					</header>
					<div id="frame-content"></div>
				</div>
				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						<div class="mdl-logo">
							Did you like <a href="https://github.com/FonzTech/DeviceLytics">this application</a>? <a href="https://github.com/FonzTech">Visit me</a> on GitHub.com!
						</div>
						<ul class="mdl-mini-footer__link-list">
							<li><a href="#">Help</a></li>
						</ul>
					</div>
				</footer>
			</main>
		</div>
		<div style="display: none">
			<div id="dummy-card" class="mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title mdl-card--expand">
					<h2 class="mdl-card__title-text">Title</h2>
				</div>
				<div class="mdl-card__supporting-text">Description</div>
			</div>
		</div>
		<dialog class="mdl-dialog">
			<h4 class="mdl-dialog__title">Title</h4>
			<div class="mdl-dialog__content">Content</div>
			<div class="mdl-dialog__actions"></div>
		</dialog>
		<div style="display: none">
			<div id="new_session" style="margin-top: 16px">
				Are you sure you want to start a new session? All the
				work you have done till this point will be lost.
			</div>
			<div th:replace="fragments/predict_form"></div>
			<div th:replace="fragments/train_form"></div>
			<div th:replace="fragments/load_form"></div>
			<div id="loading_form" style="text-align: center">
				<div class="mdl-spinner mdl-js-spinner is-active" style="margin-top: 32px; width: 64px; height: 64px"></div>
				<h5 style="margin-bottom: 0; text-align: center">Loading... Please, wait!</h5>
			</div>
			<div id="message_form">
				<h5></h5>
				<div></div>
			</div>
		</div>
		<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
		<script src="https://unpkg.com/chartjs-chart-box-and-violin-plot@2/build/Chart.BoxPlot.js"></script>
		<script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/dialog.js}"></script>
		<script th:src="@{/js/page.js}"></script>
		<script th:src="@{/js/actions.js}"></script>
		<script th:src="@{/js/dataProvider.js}"></script>
	</body>
</html>